body {
  font-family: sans-serif;
  margin: 2em;
  background: #f8f9fa;
}
h1 {
  color: #2b2b2b;
}
form {
  margin-bottom: 1em;
}
#result {
  margin-top: 1em;
  font-weight: bold;
  color: #194d33;
}
canvas {
  margin-top: 2em;
}
